<%- include ('header');  -%> 

<h1>About</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quam dignissimos minima labore error placeat vel ad
    harum quae enim.
    Ut ea commodi atque id voluptatum adipisci hic ab quibusdam?
</p>

<%- include ('footer');  -%> 